.ourbooth {
    padding-top: 50px;
    overflow: hidden;
    margin: auto;

    .ob-title{
        color: goldenrod;
        font-family: 'Patrick Hand', cursive;

        
    }
    .card {
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 300px;
        }
    }

    h1, p {
        font-family: 'Patrick Hand', cursive;
    }

    h1 {
        color: black;
    }

    span h1{
        background-color: goldenrod;
        padding: 5px;
    }
    
}

@media screen and (min-width: 700px) {
    
  }
