h1 {
    color: goldenrod;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}

p {
    color: black;
    font-family: 'Patrick Hand', cursive;
}

.videoWrapper {
	width: 80%;
	margin: auto;
	padding: 0;
}

video {
  width: 100%    !important;
  height: 100%   !important;
}