.contact {
    width: 80%;
    margin: auto;

    h2 {
        color: goldenrod;
        font-family: 'Patrick Hand', cursive;
    }

    p {
        font-family: 'Patrick Hand', cursive;
    }

    ::placeholder {
        font-family: 'Patrick Hand', cursive;
    }

    ul {
        padding-top: 2rem;
        li {
            width: 200px;
            margin: auto;

            i {
                color: goldenrod;
            }
        }
    }
    

    .form-row {
       padding-bottom: 50px;

       .btn {
           color: goldenrod;
           font-family: 'Patrick Hand', cursive;
       }
    }
    
}