.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../public/images/mirror-booth.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.75;
    width: 100%;
    margin: auto;

    h2 {
        color: goldenrod;
        font-family: 'Patrick Hand', cursive;
    }

    p {
        font-family: 'Patrick Hand', cursive;
        color: whitesmoke;
    }

    ::placeholder {
        font-family: 'Patrick Hand', cursive;
        color: goldenrod;
    }

    ul {
        padding-top: 2rem;
        li {
            width: 200px;
            margin: auto;

            i {
                color: goldenrod;
            }
        }
    }
    

    .form-row {
       padding-bottom: 50px;

       .btn {
           color: goldenrod;
           font-family: 'Patrick Hand', cursive;
       }
    }
    
}