.nav-logo {
    width: 150px;
}

.navbar ul {
    width: 700px;
}

.nav-link {
    color: goldenrod !important;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    margin-left: 3px;
}

.nav-link:hover {
    color: black !important;
    text-decoration: underline;
}

.caption {
    display: none;
    font-family: 'Patrick Hand', cursive;
}


@media screen and (min-width: 480px) {
    .caption {
        display: block;
        padding-top: 10px;
    }

    .navbar-nav {
        width: 600px;
    }
  }